ul.list { 
    padding: 0;
}

ul.list > li {
    padding: 10px 15px;
}

ul.list > li.rich {
    display: table;
    width: 100%;
    padding: 0;
}

ul.list > li.rich > div {
    display: table-cell;
}

ul.list > li.rich > .media {
    width: 50px;
    height: 100%;
    background: #4679BD;
}

ul.list > li.rich > .text {
    vertical-align: middle;
    padding: 10px;
}
